<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

    <!-- purecss.io -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
   <![endif]-->
   <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
   <!--<![endif]-->

   <link rel="stylesheet" href="stylesheets/indexcss.css">

</head>
<body onload = "start()">

    <!-- HEADER -->
    <header class = "pure-g">
        <!--Special Alerts-->
        <% if(message !== null) {%>
            <div class = "pure-u-1" id ="alertWrapper">
                <div class = "pure-g">
                    <h1 class = "message pure-u-23-24" id = "message1"><%= message %> </h1>
                    <button class = "xbutton pure-u-1-24" id = "xmessage">&#10006;</button>
                </div>
            </div>
        <% } %>


        <div class = "pure-u-1">
            <div class = "navWrapper pure-g">
                    <div class = "pure-u-1">
                            <div class = "listWrapper pure-menu pure-menu-horizontal">
                                 <ul class = "pure-menu-list" id = "ul">
                                    <li class = "pure-menu-item"><a href="#" class = "z pure-menu-link">Home</a></li><li class = "pure-menu-item"><a href="#" class = "z pure-menu-link">null</a></li><li class = "pure-menu-item"><a href="#" class = "z pure-menu-link">null</a></li><li class = "pure-menu-item"><a href="#" class = "z pure-menu-link">null</a></li><li class = "pure-menu-item"><a href="#" class = "z pure-menu-link">null</a></li>
                                </ul>
                            </div>
                    </div>
            </div>
        </div>
    </header>


    <section class = "mainWrapper pure-g">
        <div class = "pure-u-1">
                <div class = "pure-g">
            <div class = "pure-u-1-3" style = "background-color:red"><p>Test</p></div>
            <div class = "pure-u-1-3" style = "background-color:green"> <p>Test2</p></div>
            <div class = "pure-u-1-3" style = "background-color:cyan"> <p>Tet3</p></div>
        </div>

        <!-- <button id = "button" class = "pure-button">
            Hello
        </button>
        <button id = "stopit" class = "pure-button">
            Stop that
        </button> -->
        <script>
            // var button = document.getElementById("button");
            // button.addEventListener("click", function(e){
            //     console.log("Button clicked"), false
            // });
        </script>


        <!-- <pre>
            <code>
                var i = 2;
                function go(){
                    console.log("go");
                }
            </code>
        </pre> -->

        <!-- <audio src="kygo.ogg" controls>
            <p>your browser doesnt support audio</p>
        </audio> -->

        <!-- FOOTER -->
        <footer class = "pure-g">
            <h2 class = "a pure-u-1-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloremque unde voluptatum est minus nobis a odio, omnis harum mollitia.
                <div class = "pure-g">
                    <p class = "pure-u-1">Hello </p>
                </div>
            </h2>
            <h2 class = "pure-u-1-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quas saepe nemo, dolorem repudiandae atque nobis totam ipsam dicta porro.
                <div class = "pure-g">
                    <p class = "pure-u-1">World</p>
                </div>
            </h2>
        </footer>

        <!-- <div class = "pure-g">
            <canvas id = "myCanvas"></canvas>
        </div> -->

        </div>
    </section>



    <!--TESTING WEBGL-->
    <script>
    // var gl;

    // function start(){
    //     var canvas = document.getElementById("myCanvas");
    //     canvas.width = 500;
    //     canvas.height = 450;
    //     gl = getContext(canvas);

    //     if(gl){
    //         gl.clearColor(0.0, 0.0, 0.0, 1.0);
    //         gl.enable(gl.DEPTH_TEST);
    //         gl.viewport(0,0,canvas.width, canvas.height);
    //         gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    //     }

    // }

    // function getContext(canvas){
    //     try{
    //         gl = canvas.getContext("webgl") || canvas.getContext("experimental-webgl");
    //     } catch(e){

    //     }
    //     if(!gl){
    //         alert("Please upgrade to a web browser that supports webgl");
    //         gl = null;
    //     }
    //     return gl;
    // }
    </script>


    <!-- IndexDB-->
   <script>
    //     window.indexedDB = window.indexedDB;
    //     window.IDBTransaction = window.IDBTransaction;
    //     window.IDBKeyRange = window.IDBKeyRange;

    //     var db;
    //     var customerData= [
    //         {ssn: "444-44-4444", name: "Bill", age: 35, email: "bill@gmail.com"},
    //         {ssn: "555-55-555", name: "Donna", age: 22, email: "donna@gmail.com"}
    //     ];
    //     if(!window.indexedDB){
    //         alert("You dont support db");
    //     } else {
    //         var request = window.indexedDB.open("MyTestDatabase", 3);
    //         request.onerror = function(event){
    //             alert("didn't work")
    //         };
    //         request.onsuccess = function(event){
    //             request.onupgradedneeded = function(event){
    //                 db = event.target.result;

    //                 var objectStore = db.createObjectStore("customers", {keyPath: "ssn"});
    //                 objectStore.createIndex("name", "name", {unique: false});
    //                 objectStore.createIndex("email", "email", {unique: true});

    //                 objectStore.transaction.complete = function(event){
    //                     var customerObjectStore = db.transaction("customers", "readwrite").objectStore("customers");
    //                     for(var i in customerData){
    //                         customerObjectStore.add(customerData[i]);
    //                     }
    //                 };
    //             }
    //         }
    //     }
   </script>

    <!--WEB WORKERS-->
    <script>
    //         if(typeof(Worker) !=="undefined"){
    //             var w = new Worker("javascripts/my_worker.js");

    //             w.addEventListener("message", function(e){
    //                 console.log("Worker said" + e.data);
    //                 w.terminate();
    //                 w = undefined;
    //             }, false);

    //             w.postMessage("Im worker one!");
    //         } else {
    //             alert("Your browser doesn't support web workers");
    //         }
    </script>

    <script src = "/javascripts/indexjs.js"></script>
</body>
</html>
