<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= title %> </title>

  <!-- purecss.io -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
 <![endif]-->
 <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
 <!--<![endif]-->


  <!-- my custom css -->
  <link rel="stylesheet" href="/stylesheets/games/gamecss.css">
</head>
<body>

  <!-- HEADER -->
  <header class = "pure-g">
      <!--Special Alerts-->
      <% if(message !== null) {%>
          <div class = "alertWrapperShown pure-u-1" id ="alertWrapper">
              <div class = "pure-g">
                  <div class = "pure-u-23-24">
                      <h3 class = "message" id = "message1"><%= message %> </h3>
                  </div>
                  <div class = "pure-u-1-24">
                      <button class = "xbutton" id = "xmessage">&#10006;</button>
                  </div>
              </div>
          </div>
      <% } %>


      <div class = "pure-u-1">
          <div class = "navWrapper pure-g">
                  <div class = "pure-u-3-24">
                    <img src="/images/dino.svg" class="" alt="dinosaurscode" width="100%">
                  </div>
                  <div class = "pure-u-21-24">
                          <div class = "listWrapper pure-menu pure-menu-horizontal">
                               <ul class = "pure-menu-list" id = "ul">
                                  <li class = "pure-menu-item"><a href="/" class = "navAnchor pure-menu-link">Home</a></li><li class = "pure-menu-item"><a href="/games" class = "navAnchor anchorSelected pure-menu-link">Games</a></li><li class = "pure-menu-item"><a href="#" class = "navAnchor pure-menu-link">null</a></li><li class = "pure-menu-item"><a href="#" class = "navAnchor pure-menu-link">null</a></li><li class = "pure-menu-item"><a href="#" class = "navAnchor pure-menu-link">null</a></li>
                              </ul>
                          </div>
                  </div>
          </div>
      </div>
  </header>


<h1 style="color:white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium velit suscipit eos adipisci, est distinctio veritatis animi obcaecati pariatur, enim, consectetur quaerat qui quisquam quos officia neque ipsa rem. Excepturi et provident, natus praesentium quos nostrum labore, ullam, corporis nam dolores voluptatem laboriosam nesciunt dignissimos iste delectus officiis tempora cum enim temporibus accusantium architecto illo earum maxime perferendis ipsa. Aliquam, corporis culpa deserunt neque tempora nam temporibus ad voluptatem amet excepturi optio explicabo rerum, numquam esse a. Expedita deserunt commodi rerum dignissimos deleniti aut blanditiis quas enim, distinctio, odit maxime. Cumque minus eligendi voluptatibus mollitia fugit quia, ipsum obcaecati ea quaerat possimus distinctio accusantium perferendis omnis iusto? Tenetur natus modi deserunt laudantium quam, dignissimos harum repellat, blanditiis aperiam hic ea. Blanditiis distinctio, dignissimos reiciendis doloribus reprehenderit odit optio ex, omnis perferendis sed iure? Velit iste laborum dicta sapiente harum eos quam tempore incidunt, officia aspernatur animi. Commodi enim illo officiis consequatur id omnis, iste qui ad. Expedita, quia quas fuga ullam aliquid distinctio, eligendi ad perferendis corporis autem. Libero ullam beatae, excepturi rerum recusandae sequi officia dicta perspiciatis eos aspernatur cupiditate adipisci atque accusantium animi accusamus, magni dolor nesciunt omnis. Sunt aliquid saepe, temporibus expedita voluptate aspernatur molestiae provident reprehenderit.</h1>

  <!-- FOOTER -->
          <footer class = "footerWrapper pure-g">
              <h2 class = "a pure-u-1-2">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloremque unde voluptatum est minus nobis a odio, omnis harum mollitia.
                  <div class = "pure-g">
                      <p class = "pure-u-1">Hello </p>
                  </div>
              </h2>
              <h2 class = "pure-u-1-2">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quas saepe nemo, dolorem repudiandae atque nobis totam ipsam dicta porro.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quidem velit, quo delectus veritatis perspiciatis neque laboriosam, cum explicabo dolorem, quia mollitia porro optio ut? Totam eaque provident reprehenderit dicta odio quod, qui delectus pariatur iste facilis aliquid, consequuntur! Architecto adipisci laboriosam, tenetur autem nemo, deleniti sint eveniet provident quis nostrum sit numquam quos voluptatibus fugiat praesentium commodi cupiditate, corrupti maxime ipsa maiores esse. Nostrum suscipit corporis reprehenderit ipsa iste voluptatum, neque atque nulla provident soluta, voluptates facilis libero deleniti mollitia unde laborum similique et quod aliquid cum eligendi voluptatibus! Est enim impedit a nostrum nemo fugiat, temporibus, dignissimos eius.
                  <div class = "pure-g">
                      <p class = "pure-u-1">World</p>
                  </div>
              </h2>

              <div class = "pure-u-1" style="text-align:center">
                  <a href="https://github.com/xDinomode/My-Website"><img src="/images/octocat.png" alt="octocat"></a>
              </div>
          </footer>



  <script src="/javascripts/games/game.js"></script>
</body>
</html>
