//Top alert box style
$AlertMessageColor: #292929;
$AlertMessageHeight: 37px;
$AlertMessageFontColor: #fff;
$AlertMessageButtonColor: black;
$AlertMessageButtonColorHover: #018DEF;

//Nav Wrapper style
$NavWrapperHeight: 48px;
$NavWrapperBorderBottom: 1px solid #c9c9c9;
$NavWrapperBackgroundColor: #EEEEEE;

//Nav Anchor style
$NavAnchorColorHover: #018DEF;

*{
    box-sizing: border-box;
}

//body
$BackgroundColor: #0b0b0b;

body{
  background-color:$BackgroundColor;
}

.alertWrapperShown{
    display:block;
    height:$AlertMessageHeight;
    transition:all 0.34s ease-out;
}
.alertWrapperHidden{
    height:0px;
    display:hidden;
}
.message{
    padding:0;
    margin:0;
    width:100%;
    height:$AlertMessageHeight;
    text-align:center;
    line-height: 37px;
    background-color:$AlertMessageColor;
    color: $AlertMessageFontColor;
}
.xbutton{
    padding:0;
    margin:0;
    width:100%;
    height:$AlertMessageHeight;
    color:$AlertMessageButtonColor;
    border:none;
    transition:color .27s;
}
.xbutton:hover{
    color:$AlertMessageButtonColorHover;
}


.navWrapper{
    height: $NavWrapperHeight;
    border-bottom:$NavWrapperBorderBottom;
    background-color:$NavWrapperBackgroundColor;
    margin-bottom: 1em;
    overflow:hidden;
}
.listWrapper{
    text-align:center;
    height: $NavWrapperHeight;
    line-height: 30px;
}
.navAnchor{
    width:100%;
    height:100%;
    transition: all 0.15s;
}
.navAnchor:hover{
    color:$NavAnchorColorHover;
}
.anchorSelected{
  border-top: 5px solid #00B32D;
}
#ul li:nth-child(5) a:hover{
    border-right:none;
}
